<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>RepAssist</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/css")
   
    @Styles.Render("~/bundles/materialize/css")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    


</head>
<body ng-app="RepAssist">
    
        <nav>
            <div class="nav-wrapper navbar-inverse">
                <a href="#" class="brand-logo"><h5>REP ASSIST</h5></a>
                <ul class="right">
                    <li class="active"></li>
                    @*<li><a href="/#!/dashboard">Dashboard</a></li>*@
                    <li><a href="/#!/home">Dashboard</a></li>
                    <li><a href="/#!/add-customer">Add New Customer</a></li>
                    <li><a href="/#!/customers">View Customers</a></li>
                    <li><a href="/#!/new-order">Create Order</a></li>
                </ul>
            </div>
        </nav>
   
    <section id="color">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)

    

</body>


</html>






